.SelectTrigger {
	align-items: center;
	justify-content: center;
}
.SelectTrigger:hover {
	background-color: var(--mauve-3);
}
.SelectTrigger:focus {
	box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
	color: var(--violet-9);
}

.SelectIcon {
	color: Var(--violet-11);
}

.SelectViewport {
	padding: 5px;
}

.SelectItem {
	font-size: 13px;
	line-height: 1;
	color: var(--violet-11);
	border-radius: 3px;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 35px 0 25px;
	position: relative;
	user-select: none;
}
.SelectItem[data-disabled] {
	color: var(--mauve-8);
	pointer-events: none;
}
.SelectItem[data-highlighted] {
	outline: none;
	background-color: var(--violet-9);
	color: var(--violet-1);
}

.SelectLabel {
	padding: 0 25px;
	font-size: 12px;
	line-height: 25px;
	color: var(--mauve-11);
}

.SelectSeparator {
	height: 1px;
	background-color: var(--violet-6);
	margin: 5px;
}

.SelectItemIndicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.SelectScrollButton {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	background-color: white;
	color: var(--violet-11);
	cursor: default;
}

